.headerbar {
    height: 60px;
    margin: -0px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    color: black;
    font-weight: 600;
  }

.headerbar img {
    margin: 0 16px;
  }
.active{
    background-color: rgb(160, 157, 157);
    color: #fff;
  }