<div class="container-fluid" style="margin: 15px 0px 15px 0px;">
    <div class="card-group">
        <div class="card">
            <div class="card-header">Invoice Search</div>
            <div class="card-body">Content</div>
            <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm" style="margin: 0px 0px;width: 80px;">Search</button>
                    <button type="button" class="btn btn-primary btn-sm" style="margin: 0px 20px;width: 80px;">Clear</button>
            </div>
        </div>
    </div>
</div>